.head {
    background-color: lightslategrey;
    border-radius: 4px;
    border: 3px;
    text-align: center;
    height:20%;
    width:auto;
}

body {
    background-color: dimgray;
}

.main {
    background-color: lightslategray;
     width: 60%;
    border-radius: 4px;
     border: 3px; 
    height: 525px;
    float: right;
}